body{
    background-color: #EBF9FF;
}

.header{
    font-family: 'Sintony';
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.container{
    width:50vw;
    font-family: 'Open Sans';
}

.btn-primary{
    background-color: #D9D9D9;
    color: black;
    border: none;
}